*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(241 242 242);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}
h1{
  font-weight: 100;
  font-size: 2px;
  color:rgb(224 235 207);
}

h3{
  margin-top: 40px;
}



span{
  padding: .5em;
}


#qty{
  border: 1px solid black;
  padding: 0 10px;
}

#checkout{
  background-color:rgb(224 235 207);
  color:white;
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
}

.hide{
  display:none;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}