*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(241 242 242);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}

section{
  
    align-items: center;
    text-align: center;
}

video{
    display: block;
    margin: 2em auto;
    
}

canvas{
    display: block;
    margin: 2em auto;
    padding: 2em;
}

section{
  display:inline-block;
}

.identifyBut{
  background-color:rgb(224 235 207);
  color:white;
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
}

 