* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(122 146 91);
}

nav {
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo {
  width: 15em;
}

.navbar-toggler-icon {
  width: 10px;
}


video {
  margin: 2em 0;

}

canvas {
  margin: 2em 0;
}


.identifyBut {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: rgb(126 153 96);
  color: white;
  height: 4em;
  width: 20em;
  border: none;
  text-transform: uppercase;
}


#hero {
  width: 100%;
  height: 80vh;
  background: #fff;
  padding-top: 40%;

}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #3e4450;
}

#hero h2 {
  color: #858ea1;
  margin: 10px 0 30px 0;
  font-size: 24px;
}

#hero-2 h1{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: rgb(126 153 96);
  margin: 10px 0 30px 0;
  font-size: 3em;
}
#hero-2 p {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: black;
  margin: 10px 0 30px 0;
  font-size: 1em;
}

#hero-2 span {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: black;
  margin: 10px 0 30px 0;
  font-size: 1em;
}



#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


#hero-2 .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
    padding: 0;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero-2 h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero-2 p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }


  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 50%;
  }

  #hero .center {
    align-items: center;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}