*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(241 242 242);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}

h1{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2px;
  color:rgb(224 235 207);
}

h3{
  margin-top: 40px;
  color:rgb(224 235 207);
}
form{
  display: block;
  align-items: center;
}
.signinContainer{
  width: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.herbs{
  list-style-type: none;
}

.orderItems{
  display: float;
  align-items: center;
  text-align: center;
  width: 40em;
  border: 1px solid rgb(224 235 207);
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button{
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.herbName a{
color: rgb(224 235 207);
font-size: 2em;
text-decoration: none;
text-transform: none;
}

.herbName a:hover{
  color:black;
}

.herbName{
  color: rgb(224 235 207);
  font-family: 'Cedarville Cursive', Arial, Helvetica, sans-serif;
  display:inline-block;
  text-decoration: none;
  text-align: center;
}

.support{
  width: 13em;
  padding: 0 2em;
}

.herbProp{
  padding: 1em 1em;
  display: block;
  align-items: center;
}

.herbPos{
  display: block;
  align-items: center;
  text-transform: uppercase;
  color:rgb(224 235 207);
  padding: 1em 1em;
}

.submitOrder{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color:rgb(224 235 207);
  color:white;
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
  margin-left: .5em;
  margin-bottom: .5em;
}

.hide{
  display:none;
}


.btn{
  padding: .5em;
  text-decoration: none;
  color:black;
  background-color:rgb(224 235 207);
  margin-top: 2em;
}

.confirmation{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}





 /* stylelint-disable selector-list-comma-newline-after */

 .blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Montserrat", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  color: rgb(224 235 207);
}
p{
font-family: "Montserrat", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
color: black;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


