*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;

}

.logo{
width: 12em;
}

.navbar-toggler-icon{
  width: 8px;
}

h1{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2px;
  color:rgb(224 235 207);
}

h3{
  margin-top: 40px;
  color:rgb(224 235 207);
}
form{
  display: block;
  align-items: center;
}
.signinContainer{
  width: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.herbs{
  list-style-type: none;
}

.orderItems{
  display: float;
  align-items: center;
  text-align: center;
  width: 40em;
  border: 1px solid rgb(224 235 207);
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button{
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}



.support{
  width: 13em;
  padding: 0 2em;
}



.submitOrder{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color:rgb(126 153 96);
  color:white;
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
  margin-left: .5em;
  margin-bottom: .5em;
}

.hide{
  display:none;
}



.confirmation{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}



#hero {
  width: 100%;
  height: 80vh;
  background: #fff;
  padding-top: 82px;
}
#hero h1 {
  margin: 0;
  font-size: 4em;
  line-height: 56px;
  color: rgb(126 153 96);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#hero p {
  color: black;
  margin: 10px 0 30px 0;
  font-size: 1.2em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .buttons{
    margin: 2 auto !important;
  }


}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}