body{
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}


nav{
  background-color: rgb(241 242 242);
}


.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}

.title{
  display: block;
  align-items: center;
  text-align: center;
}
h1{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2px;
  color:rgb(224 235 207);
}

h3{
  margin-top: 40px;
  color:rgb(224 235 207);
}
form{
  display: block;
  align-items: center;
}
.signinContainer{
  width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.herbs{
  list-style: none;
}

.orderItems{
  display: block;
  align-items: center;
  text-align: center;
  width: 40em;
  border: 1px solid rgb(224 235 207);
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.herbName{
  display:inline-block;
  text-align: center;
}

.herbProp{
  padding: 1em 1em;
  text-decoration: underline;
  display: block;
  align-items: center;

}

.herbPos{
  display: block;
  align-items: center;
  color:rgb(224 235 207);
  padding: 1em 1em;


}

.submitOrder{
  background-color:rgb(224 235 207);
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
  

}

.hide{
  display:none;
}


.btn{
  padding: .5em;
  text-decoration: none;
  color:black;
  background-color:rgb(224 235 207);
  margin-top: 2em;
}

.confirmation{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

