*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;

}

.logo{
width: 12em;
}

.navbar-toggler-icon{
  width: 8px;
}


.title{
  display: block;
  align-items: center;
  text-align: center;
}

.submitForm{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color:rgb(126 153 96);
  color:white;
  height:4em;
  width: 20em;
  border:none;
  text-transform: uppercase;
  margin-left: .5em;
  margin-bottom: .5em;

}


