body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

nav{
  background-color: rgb(241 242 242);
}

.logo{
  width: 15em;
}

.title{
  display: block;
  align-items: center;
  text-align: center;
}


#footermain {
  background: #1f6c04;
  width: 100%;
  -moz-box-shadow: 0 -5px 8px grey;
  -webkit-box-shadow: 0 -5px 8px grey;
  box-shadow: 0 -2px 8px grey;
  position: relative;
}

#footerinner {
  height: 150px;
  width: 960px;
  position: relative;
  margin: 0 auto;
}

  /*
color: 154, 223, 253
  */