* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(122 146 91);
}

nav {
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;

}

.logo {
  width: 12em;
}

.navbar-toggler-icon {
  width: 8px;
}

.container {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container h6 {
  color: rgb(126 153 96) !important;

}

.buttons{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color:rgb(126 153 96);
  color:white;
  height:4em;
  width: 15em;
  border:none;
  text-transform: uppercase;
  margin-left: .5em;
  margin-bottom: .5em;
  margin-top: .5em;

}

.messages li {
  list-style-type: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.fa-envira {
  color: rgb(126 153 96);
}

@media (max-width: 768px) {
  .cardTwo {
    margin-top: 2em !important;
    
  }

  ul li{
    font-size: .9em;
    padding-top: .5em;
  }

  .mt-4 {
    margin-top: 1em !important;
  }

  .formButtons{
    margin-left: 2em;
  }

  .buttons{
    margin-top: 2em;
    width: 12em;
  }
}