*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}

h1{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2px;
  color:rgb(224 235 207);
}

h3{
  margin-top: 40px;
  color:rgb(126 153 96);
}
form{
  display: block;
  align-items: center;
}

.container{
  text-align: center;
}

.herbs{
  list-style-type: none;
}

.orderItems{
  display: float;
  align-items: center;
  text-align: center;
  width: 40em;
  border: 1px solid rgb(224 235 207);
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button{
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.herbName a{
color: rgb(126 153 96);
font-size: 2em;
text-decoration: none;
text-transform: none;
}

.herbName a:hover{
  color:rgb(224 235 207);
}

.herbName{
  color: rgb(224 235 207);
  font-family: 'Cedarville Cursive', Arial, Helvetica, sans-serif;
  display:inline-block;
  text-decoration: none;
  text-align: center;
}

.support{
  width: 13em;
  padding: 0 2em;
}

.herbProp{
  padding: 1em 1em;
  display: block;
  align-items: center;
}

.herbPos{
  display: block;
  align-items: center;
  text-transform: uppercase;
  color:rgb(224 235 207);
  padding: 1em 1em;
}

.submitOrder{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color:white;
  color:rgb(126 153 96);
  height:4em;
  width: 20em !important;
  border:none;
  text-transform: uppercase;
  margin-left: .5em;
  margin-bottom: .5em;
}

.hide{
  display:none;
}

.confirmation{
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.container-xl{
  overflow: auto;
}
.cardRow{
  float:left;
  width: 33%;
}

.card .fa-cart-plus{
  font-size: 1.5em;
}
 /* stylelint-disable selector-list-comma-newline-after */
.card {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position:relative;
  display:grid;
  justify-items: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .8em;
}
.card img {
  display: block;
  position:relative;
  z-index:1;
  width: 80%;
  margin:0 auto;
  transition: transform 0.2s ease-in-out;
}
.card img.large {
  width: 65%;
}
.card:hover img {
  transform:translateY(-10%);
}
.item-title {
  position: absolute;
  left:1em;
  bottom:1em;
}
.image-container {
  position:relative;
}
.shadow {
  position:absolute;
  bottom:1em;
  left: 50%;
  transform: translateX(-50%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  color: rgb(126 153 96);
}
p{
font-family: "Montserrat", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
color: black;
}


@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
  
}

@media (max-width: 768px) {
  .cardRow {
    float:none !important;
  }
  form {
    margin: 0 5em;
  }
  
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}


.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

