*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: rgb(122 146 91);
}

nav{
  background-color: rgb(126 153 96);
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;

}

.logo{
width: 12em;
}

.navbar-toggler-icon{
  width: 8px;
}


#confirmation{
  margin-top: 5rem;
  display: block;
  align-items: center;
  text-align: center;
}

h1{
  color: rgb(224 235 207);
  font-family: 'Cedarville Cursive', Arial, Helvetica, sans-serif;
  text-transform: none;
}
p{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: none;
}

.logo{
width: 15em;
}

.navbar-toggler-icon{
  width: 10px;
}
  
